layout: index
description: "some description"
---
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div id="hdr-desktop" class="header-content-inner" >
            <img src="/img/logo_large.png" />
            <p></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
        
        <div id="hdr-tablet" class="header-content-inner" >
            <img src="/img/logo_medium.png" />
            <p></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
        
        <div id="hdr-phone" class="header-content-inner" >
            <img src="/img/logo_small.png" />
            <p></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Barnard Technology Solutions is a small technology services company located in Champaign, Illinois. 
                It is the consulting and contracting arm for <a target="_blank" href="http://www.ericmbarnard.com">Eric Barnard</a>. 
                We specialize in helping small businesses, not-for-profits, and individuals solve their software and technology needs without breaking the bank.
                </p>
                <p class="text-faded">
                <strong>Our Philosophy:</strong> One of the key differentiators about our business is that we value relationships and client success over all other things. 
                Our faith-based approach to service holds us to that belief, and it drives our decisions and goals.
                </p>
                <p class="text-faded">
                If your needs lie outside our expertise, we are glad to help you find folks who can help. While small, we have relationships with other businesses to help ensure your goal is met. 
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">See What We Can Do</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary"></i>
                    <h3>Software-as-a-Service</h3>
                    <p class="text-muted">Trying to find a cloud-based solution for your business? Or signed up for an online service, but now you need it customized for your business?</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>The Cloud</h3>
                    <p class="text-muted">Want to understand how you can take advantage of the cloud? Either migrating business data or simply getting things off-site?</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Development</h3>
                    <p class="text-muted">Need some custom software developed? Perhaps you have some current software bugs that you just can't get fixed?</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dashboard wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Business Intelligence</h3>
                    <p class="text-muted">Interested in gaining insights into your business data? Been trying to figure out those manager dashboards, but just haven't had the time?</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- contact -->
<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Talk!</h2>
                <hr class="primary">
                <p>Shoot us a note and we'd be glad to talk about your technology challenge free of charge. Many times we may not be the right fit, but we're glad to help you down the right path and find someone who is!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:info@barnardtech.com">info@barnardtech.com</a></p>
            </div>
        </div>
    </div>
</section>
